/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    font-family: Arial, sans-serif;
    /* Fallback font */
}

/* Common spacing for clarity */
div[class^="grid"] {
    margin-bottom: 20px;
    /* Removed border as per feedback */
}

/* Grid 1 */
.gridOne {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: #eee;
    /* Added background for separation */
    padding: 10px;
}

/* Grid 2 */
.gridTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    /* Removed gap as per feedback */
}

.gridTwo-child-1 {
    background-color: red;
    padding: 10px;
}

.gridTwo-child-2 {
    background-color: blue;
    padding: 10px;
}

.gridTwo-child-3 {
    background-color: yellow;
    padding: 10px;
}

/* Grid 3 */
.gridThree {
    display: grid;
    grid-template-rows: 1fr 3fr;
    width: 500px;
    height: 300px;
    /* Removed border */
}

.gridThree-child-text {
    background-color: #f0f0f0;
    padding: 10px;
}

.gridThree-child-img {
    /* Ensure image container has no extra space */
    margin: 0;
    padding: 0;
}

.gridThree-child-img img {
    width: 500px;
    height: 225px;
    object-fit: cover;
    display: block;
}

/* Grid 4 */
.gridFour {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 500px;
    background-color: green;
}

.gridFour-child-1 {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

#gridFour-child-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    /* Removed gap */
}

/* Grid 5 */
.gridFive {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 500px;
    background-color: green;
}

.gridFive-child-1 {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

#gridFive-child-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* User requested same width */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.6);
    /* Removed gap */
}

#gridFive-child-2 img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* Grid 6 */
.gridSix {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 500px;
    background-color: lightgray;
    align-items: center;
    padding: 10px;
}

.gridSix i {
    font-size: 2em;
    text-align: left;
    /* Aligned to left */
    padding-left: 10px;
}

.google-font-text {
    font-family: 'Roboto', sans-serif;
}